BETTER_AUTH_URL=http://backend-url.com
SRV_PORT=8081

BETTER_AUTH_SECRET="<32-char-length-secret>""

PGUSER=dbuser
PGPASSWORD=secretpassword
PGHOST=pghost
PGPORT=5432
PGDATABASE=mydb
# uncomment and set '<schema>' if using a different schema than 'public'
# PGOPTIONS="-c search_path=<schema>"
