BETTER_AUTH_URL=http://backend-url.com
SRV_PORT=8081

BETTER_AUTH_SECRET="<32-char-length-secret>""

MIGRATION_URL=postgresql://user:pass@host:port/db_name
DATABASE_URL=postgresql://user:pass@host:port/db_name
