RUST_LOG=clearlist_api,tower_http=warn

SRV_PORT=8081

ALLOWED_ORIGINS=https://frontend.url
AUTH_SERVER_URL=https://auth-server.url

WEBHOOK_SECRET="<32-char-length-secret>"

# Uncomment to change default auth cookie key (default: 'better-auth.session_token')
# COOKIE_KEY=<NEW-COOKIE-KEY>

MIGRATION_URL=postgresql://user:pass@host:port/db_name
DATABASE_URL=postgresql://user:pass@host:port/db_name
