# Server Config
SRV_PORT=8081
AUTH_URL=https://auth-server.url
ALLOWED_ORIGINS=https://frontend.url

WEBHOOK_SECRET="<32-char-length-secret>"

# Uncomment to change default auth cookie key (default: 'better-auth.session_token')
# COOKIE_KEY=<NEW-COOKIE-KEY>

# Output
RUST_LOG=clearlist_api,tower_http=warn

# Database
MIGRATION_URL=postgresql://user:pass@host:port/db_name
DATABASE_URL=postgresql://user:pass@host:port/db_name
